@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";
@import "static_pages";
@import "social-share-button";

.navbar-brand{
  line-height: 60px;
}
.navbar-right .btn{
  margin: 10px;
}
.navbar-left .btn{
  margin: 10px;
}
