@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";
@import "static_pages";

.navbar-brand{
  line-height: 30px;
  font-size: 2em;
  a:active, a:hover, a:visited, a:link{
    color: $gray;
    text-decoration: none;
  }
}
.navbar-right .btn{
  margin: 5px;
}
.search-field{
  line-height: 55px;
}
