%h1 All products

%table.table.table-striped
  %tr
    %th Product name
    %th Description
    %th Price
    %th Category
  - products.each do |product|
    %tr
      %td= link_to product.name, category_product_path(product.category, product)
      %td= truncate(product.description, separator: ' ')
      %td= number_to_currency(product.price)
      %td= link_to product.category.name, category_path(product.category)
